<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- name space는 UserRepo의 fully qualified name으로 설정한다. -->
<mapper namespace="com.ssafy.ssafit.model.dao.ReviewDao">

    <resultMap id="ReviewMap" type="Review">
        <result column="review_id" property="reviewId"/>
        <result column="user_seq" property="userSeq"/>
        <result column="video_id" property="videoId"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="title" property="title"/>
        <result column="content" property="content"/>
        <result column="user_id" property="userId"/>
        <result column="nickname" property="nickname"/>
    </resultMap>


    <insert id="insertReview" parameterType="Review">
        INSERT INTO REVIEW
            (user_seq, video_id, create_time, title, content)
        VALUES (#{userSeq}, #{videoId}, now(), #{title}, #{content})
    </insert>

    <delete id="deleteReview" parameterType="long">
        DELETE
        FROM REVIEW
        WHERE review_id = #{reviewId}
    </delete>

    <update id="updateReview" parameterType="Review">
        UPDATE REVIEW
        SET title   = #{title},
            content = #{content}
        WHERE review_id = #{reviewId}
    </update>

    <select id="selectByReviewId" parameterType="long" resultMap="ReviewMap">
        SELECT r.review_id,
               r.user_seq,
               r.video_id,
               r.create_time,
               r.update_time,
               r.title,
               r.content,
               u.user_id,
               u.nickname
        FROM REVIEW r
                 INNER JOIN `user` u
                            ON r.user_seq = u.user_seq
        WHERE review_id = #{reviewId}
    </select>

    <select id="selectAllByVideoId" parameterType="long" resultMap="ReviewMap">
        SELECT r.review_id,
               r.user_seq,
               r.video_id,
               r.create_time,
               r.update_time,
               r.title,
               r.content,
               u.user_id,
               u.nickname
        FROM REVIEW r
                 INNER JOIN `user` u
                            ON r.user_seq = u.user_seq
        WHERE video_id = #{videoId}
    </select>

</mapper>